In [1]:
# pip install pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
train_df = pd.read_csv('data.csv')
train_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP002529,Male,Yes,2,Graduate,No,6700,1750.0,230.0,300.0,1.0,Semiurban,Y
1,LP001385,Male,No,0,Graduate,No,5316,0.0,136.0,360.0,1.0,Urban,Y
2,LP001926,Male,Yes,0,Graduate,No,3704,2000.0,120.0,360.0,1.0,Rural,Y
3,LP001144,Male,Yes,0,Graduate,No,5821,0.0,144.0,360.0,1.0,Urban,Y
4,LP002562,Male,Yes,1,Not Graduate,No,5333,1131.0,186.0,360.0,NaN,Urban,Y

In [4]:
train_df.shape

(430, 13)

In [5]:
train_df['Gender']= train_df['Gender'].map({'Male':0, 'Female':1})
train_df['Married']= train_df['Married'].map({'No':0, 'Yes':1})
train_df['Loan_Status']= train_df['Loan_Status'].map({'N':0, 'Y':1})

train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            430 non-null    object
 1   Gender             420 non-null    float64
 2   Married            427 non-null    float64
 3   Dependents         416 non-null    object
 4   Education          430 non-null    object
 5   Self_Employed      410 non-null    object
 6   ApplicantIncome    430 non-null    int64
 7   CoapplicantIncome  430 non-null    float64
 8   LoanAmount         414 non-null    float64
 9   Loan_Amount_Term   422 non-null    float64
 10  Credit_History     394 non-null    float64
 11  Property_Area      430 non-null    object
 12  Loan_Status        430 non-null    int64
dtypes: float64(6), int64(2), object(5)
memory usage: 43.8+ KB

In [6]:
train_df.isnull().sum()

Loan_ID               0
Gender               10
Married               3
Dependents           14
Education             0
Self_Employed        20
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           16
Loan_Amount_Term      8
Credit_History       36
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
train_df = train_df.dropna()
train_df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [8]:
train_df.shape

(335, 13)

In [9]:
X = train_df[['Gender', 'Married', 'ApplicantIncome', 'LoanAmount', 'Credit_History']]
y = train_df.Loan_Status
X.shape, y.shape

((335, 5), (335,))

In [10]:
X.head()

   Gender  Married  ApplicantIncome  LoanAmount  Credit_History
0     0.0      1.0             6700       230.0             1.0
1     0.0      0.0             5316       136.0             1.0
2     0.0      1.0             3704       120.0             1.0
3     0.0      1.0             5821       144.0             1.0
5     0.0      1.0             3052       100.0             1.0

In [11]:
y.head()

0    1
1    1
2    1
3    1
5    1
Name: Loan_Status, dtype: int64

In [13]:
# pip install scikit-learn

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/f8/74/273c03e5a3b9aa0881812dd36c3f5a25f92177c96219d1d110ed96673a34/scikit_learn-1.0.2-cp37-cp37m-macosx_10_13_x86_64.whl (7.8MB)
    100% |████████████████████████████████| 7.9MB 4.6MB/s ta 0:00:011
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading https://files.pythonhosted.org/packages/61/cf/6e354304bcb9c6413c4e02a747b600061c21d38ba51e7e544ac7bc66aecc/threadpoolctl-3.1.0-py3-none-any.whl
Requirement already satisfied: numpy>=1.14.6 in ./mlops_env/lib/python3.7/site-packages (from scikit-learn) (1.21.6)
Collecting joblib>=0.11 (from scikit-learn)
  Downloading https://files.pythonhosted.org/packages/10/40/d551139c85db202f1f384ba8bcf96aca2f329440a844f924c8a0040b6d02/joblib-1.3.2-py3-none-any.whl (302kB)
    100% |████████████████████████████████| 307kB 12.1MB/s ta 0:00:01
Collecting scipy>=1.1.0 (from scikit-learn)
  Using cached https://files.pythonhosted.org/packages/85/64/5dbe0daf0beb14c3cd4b9a3493c5dc1fda68d13ad3fe0b173be8032e3172/scipy-1.7.3-cp37-cp37m-macosx_10_9_x86_64.whl
Installing collected packages: threadpoolctl, joblib, scipy, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.0.2 scipy-1.7.3 threadpoolctl-3.1.0
You are using pip version 18.1, however version 24.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=5)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(max_depth=4, random_state=5)
model.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import accuracy_score

pred_val = model.predict(X_val)
accuracy_score(y_val, pred_val)

In [ ]:
pred_train = model.predict(X_train)
accuracy_score(y_train, pred_train)

In [17]:
# !pip install mlflow

In [18]:
import mlflow

In [ ]:
# Create a new MLflow Experiment
mlflow.set_experiment("Loan_app")

In [ ]:
# Start an MLflow run
with mlflow.start_run():

    model_rf = RandomForestClassifier(max_depth=4, random_state=5)
    model_rf.fit(X_train, y_train)

    pred_val = model_rf.predict(X_val)
    val_acc = accuracy_score(y_val, pred_val)

    pred_train = model_rf.predict(X_train)
    train_acc = accuracy_score(y_train, pred_train)

    # Set a tag that we can use to remind ourselves what this run was for
    mlflow.set_tag("mlflow.runName", "first_run")
    
    # Log the hyperparameters
    mlflow.log_param('max_depth', 4)

    # Log the loss metric
    mlflow.log_metric('val_acc', val_acc)
    mlflow.log_metric('train_acc',train_acc)

    mlflow.sklearn.log_model(model_rf, "my_model")

In [ ]:
!mlflow ui

## New data

In [ ]:
train_df = pd.read_csv('data_new.csv')
train_df.head()

In [ ]:
train_df.shape

In [25]:
train_df['Gender']= train_df['Gender'].map({'Male':0, 'Female':1})
train_df['Married']= train_df['Married'].map({'No':0, 'Yes':1})
train_df['Loan_Status']= train_df['Loan_Status'].map({'N':0, 'Y':1})

train_df = train_df.dropna()

In [ ]:
X = train_df[['Gender', 'Married', 'ApplicantIncome', 'LoanAmount', 'Credit_History']]
y = train_df.Loan_Status
X.shape, y.shape

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=5)

In [ ]:
with mlflow.start_run():
    
    model_rf = RandomForestClassifier(max_depth=4, random_state=5)
    model_rf.fit(X_train, y_train) # trained on new data

    pred_val = model_rf.predict(X_val)
    val_acc=accuracy_score(y_val, pred_val)

    pred_train = model_rf.predict(X_train)
    train_acc=accuracy_score(y_train, pred_train)

    mlflow.set_tag('mlflow.runName','new_data')
    
    mlflow.set_tag("Training Info", "data collection")
    
    mlflow.set_tag('data file','data_new.csv')
    
    mlflow.log_param('max_depth',4)
    mlflow.log_metric('val_acc',val_acc)
    mlflow.log_metric('train_acc',train_acc)
    
    
    mlflow.sklearn.log_model(model_rf, "my_model")

In [32]:
# !mlflow ui

In [ ]:
!mlflow ui --host=localhost:5555

In [34]:
def mlflow_runs(n_est, max_dep, i):
    
    # Start an MLflow run
    with mlflow.start_run():

        model_rf = RandomForestClassifier(n_estimators = n_est, max_depth=max_dep, random_state=5)
        model_rf.fit(X_train, y_train) # new data
    
        pred_val = model_rf.predict(X_val)
        val_acc = accuracy_score(y_val, pred_val)
    
        pred_train = model_rf.predict(X_train)
        train_acc = accuracy_score(y_train, pred_train)
    
        # Set a tag that we can use to remind ourselves what this run was for
        run = "hyperparam_run_"+str(i)
        
        mlflow.set_tag("mlflow.runName", run)
        mlflow.set_tag('data file','data_new.csv')
        
        # Log the hyperparameters
        mlflow.log_param('max_depth', max_dep)
        mlflow.log_param('n_estimators', n_est)

        # Log the perf metric
        mlflow.log_metric('val_acc', val_acc)
        mlflow.log_metric('train_acc',train_acc)
    
        mlflow.sklearn.log_model(model_rf, "my_model")

In [ ]:
# n_estimators = [10,20,40]
# n_depth = [2, 4,8]

mlflow_runs(10,2,1)
mlflow_runs(20,2,2)
mlflow_runs(40,2,3)
mlflow_runs(10,4,4)
mlflow_runs(20,4,5)
mlflow_runs(40,4,6)
mlflow_runs(10,8,7)
mlflow_runs(20,8,8)
mlflow_runs(40,8,9)

In [ ]:
!mlflow ui --host=localhost:5555

In [38]:
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
from sklearn.metrics import ConfusionMatrixDisplay

In [ ]:

with mlflow.start_run():
    knn_model= KNeighborsClassifier(n_neighbors=3)
    knn_model.fit(X_train, y_train)

    pred_val = knn_model.predict(X_val)
    val_acc=accuracy_score(y_val, pred_val)

    pred_train = knn_model.predict(X_train)
    train_acc=accuracy_score(y_train, pred_train)


    mlflow.set_tag('mlflow.runName',"kNN")
    mlflow.log_param('neighbors',3)
    mlflow.log_metric('val_acc',val_acc)
    mlflow.log_metric('train_acc',train_acc)
    mlflow.set_tag('data file','data_new.csv')

    cm=ConfusionMatrixDisplay.from_predictions( y_val,pred_val)
    cm.figure_.savefig('confusion_mat.png')
    mlflow.log_artifact('confusion_mat.png')

    mlflow.sklearn.log_model(model_rf, "my_model")

In [ ]:
!mlflow ui --host=localhost:5555